body {
    background-color:#98b7b4;
}

.btn-group {
    margin-top:350px;
    margin-left:485px;
}
.box {
    background-color:	#bee5e2;
}
.box2 {
    background-color:#abcecb;
}
.push {
    background-color:#d4989c;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
#header {
    text-align: center; 
}
#sub {
    text-align: center;
}